.section {
  padding: calc(3rem + 3vw) 0;
}
.section__head {
  margin-bottom: calc(2rem + 2vw);
}
.gap-30 {
  row-gap: 30px;
}
.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card {
  height: 100%;
}
.card-img-top {
  height: 220px;
  object-fit: cover;
}
.card-body .btn {
  margin-top: auto;
}
.card-body {
  display: flex;
  flex-direction: column;
}